<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${petstat.driver}"/>
                <property name="url" value="${petstat.url}"/>
                <property name="username" value="${petstat.username}"/>
                <property name="password" value="${petstat.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/tkylin/xml/AreasMapper.xml"/>
        <mapper resource="com/tkylin/xml/CitiesMapper.xml"/>
        <mapper resource="com/tkylin/xml/ProvincesMapper.xml"/>
    </mappers>
</configuration>